@model Idento.Domain.Entities.Tenant[]
@{ 
    ViewData["Title"] = "Tenants";
}

<h2>@ViewData["Title"]</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Created</th>
            <th>Last modified</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tenant in Model)
        {
            <tr>
                <td>@tenant.Name</td>
                <td>@tenant.DateCreated.ToString()</td>
                <td>@(tenant.DateUpdated?.ToString() ?? "-")</td>
                <td>
                    <a href="@Url.Action("Edit", new { id = tenant.Id })"><span class="glyphicon glyphicon-pencil"></span></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<button onclick="location.href='@Url.Action("Create")'">Add tenant...</button>
