@model Idento.Web.Controllers.ChangePasswordAccountViewModel

@{
    ViewData["Action"] = "ChangePassword";
    ViewBag.Title = "Change User Password";
}

<h2>@ViewBag.Title</h2>
<br/>
@Html.LabelFor(x => x.Email) @Html.DisplayTextFor(x => x.Email)<br/>
@using (Html.BeginForm(ViewData["Action"].ToString(), "Account", FormMethod.Post))
{
    @Html.ValidationSummary()
    @Html.HiddenFor(x => x.Email)
    @Html.LabelFor(x => x.CurrentPassword)
    @Html.TextBoxFor(x => x.CurrentPassword)
    <br/>
    @Html.LabelFor(x => x.NewPassword)
    @Html.TextBoxFor(x => x.NewPassword)
    <br />
    <input class="btn" type="submit" value="Save" />
}