@model Idento.Web.Controllers.ChangePasswordAccountViewModel

@{
    ViewData["Action"] = "ChangePassword";
    ViewBag.Title = "Change User Password";
}

<h2>@ViewBag.Title</h2>
<br />


    
 
@using (Html.BeginForm(ViewData["Action"].ToString(), "Account", FormMethod.Post))
{
    @Html.ValidationSummary()
    <table>
        <tbody>
        @Html.HiddenFor(x => x.Email)
        <tr>
            <td>@Html.LabelFor(x => x.Email)</td>
            <td>@Html.DisplayTextFor(x => x.Email)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.CurrentPassword)</td>
            <td>@Html.TextBoxFor(x => x.CurrentPassword)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.NewPassword)</td>
            <td>@Html.TextBoxFor(x => x.NewPassword)</td>
        </tr>
        </tbody>
    </table>
    <input class="btn" type="submit" value="Save" />
}