@using System.Security.Cryptography.X509Certificates
@model Idento.Web.Controllers.RegisterModel

@{
    ViewData["Title"] = Model.Id != null ? "Edit Account" : "Add Account";
    ViewData["Action"] = Model.Id != null ? "Save" : "Create";
}

<h2>@ViewData["Title"]</h2>

<hr/>
@using (Html.BeginForm(ViewData["Action"].ToString(), "Account", FormMethod.Post,new { @class = "form-horizontal"}))
{
    @Html.ValidationSummary()
    <table>
        <tbody>
            <tr>
                <td>@Html.LabelFor(x => x.Email)</td>
                <td>@Html.TextBoxFor(x => x.Email) @if (ViewData["Action"].ToString() != "Create")
                {<a href="@Url.Action("ChangePassword", new {id = Model.Id})">Change password</a>}</td>
            </tr>
        @if (ViewData["Action"].ToString() == "Create")
        {
        
        <tr>
            <td>@Html.LabelFor(x => x.Password)</td>
            <td>@Html.PasswordFor(x => x.Password)</td>
        </tr>
        <tr>
            <td>@Html.Label("Confirm Password")</td>
            <td>@Html.Password("ConfirmedPassword")</td>
        </tr>
        }
        <tr>
            <td>@Html.LabelFor(x => x.FirstName)</td>
            <td>@Html.TextBoxFor(x => x.FirstName)</td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(x => x.LastName)
            </td>
            <td>
                @Html.TextBoxFor(x => x.LastName)
            </td>
        </tr>
        <tr>
            <td>@Html.Label("Applications")</td>
            <td>@Html.ListBoxFor(x => x.SelectedApplications, new MultiSelectList(Model.AvailableApplications, "Id", "Name"))</td>
        </tr>
        </tbody>
    </table>
    <br />
    <input class="btn" type="submit" value="@ViewData["Action"]"/>
}