@model ConfirmDeleteApplicationViewModel
@{
    ViewData["Title"] = "Delete application";
}

<h2>@ViewData["Title"]</h2>

<form asp-controller="Application" asp-action="Delete" method="post" class="form-horizontal">
    @Html.AntiForgeryToken()
    <b>Are you sure you want to delete the application '@Model.Name'?</b><br />
    <input asp-for="Id" hidden value="@Model.Id"/>
    <button type="submit">Yes</button> <button type="reset" onclick="location.href='@Url.Action("List")'">No</button>
</form>