﻿@model IEnumerable<Idento.ManagerUI.Applications.Models.ListItem>

<h2>Apps</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Client Id</th>
            <th>OAuth2 Grant Flow</th>
            <th>URI</th>
            <th>Enabled</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var app in Model)
        {
            <tr class="vert-align">
                <td>@app.DisplayName</td>
                <td>@app.ClientId</td>
                <td>@app.Flow</td>
                <td>@app.Uri</td>
                <td>
                    <span class="glyphicon @(app.Enabled ? "glyphicon-check" : "glyphicon-unchecked")"></span>
                </td>
                <td class="text-right">
                    <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Edit", new { id = app.Id })'">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        Edit
                    </button>
                    <button type="button" class="btn btn-danger btn-remove" data-action="@Url.Action("Delete", new { id = app.Id })">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        Delete
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Create")" class="btn btn-primary">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    New app
</a>

@section Scripts {
    <script type="text/javascript">
        $('.btn-remove').click(function () {
            if (!confirm("Are you sure you want to remove this app?"))
                return;
            location.href = $(this).data('action');
        });
    </script>
}